/* REMOVE THIS, USE YOUR OWN  */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: black;
  color: white;
}

.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer-title {
  font-size: 1.85em;
  font-weight: bold;
  color: white;
}
.footer-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.col-title {
  font-size: 1.15em;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: -80px;
}
.footer-center1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: -80px;
  margin: 20px;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
}
.footer .col {
  width: 200px;
  height: 100px auto;
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  background-color: black;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  background-color: black;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  height: 20px;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  background-color: navyblue;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  padding-right: 5px !important;
  background-color: navyblue;
  margin-bottom: 20px;
}

.footer .col ul li:hover {
  color: #ffffff;
  background-color: navyblue;
  margin-bottom: 20px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.contain {
  background-color: navyblue;
  color: white;
  padding: 20px;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
